
.elelment{
    text-align:center;
  }
  .element-main{
   
      width: 27%;
      background: #fff;
      margin: 4em auto 0em;
      border-radius: 5px;
      padding: 3em 2em;
  }
  
  .element-main input[type="text"] {
    font-size: 1em;
    color: #A29E9E;
    padding: 1em 0.5em;
    display: block;
    width: 95%;
    outline: none;
    margin-bottom: 1em;
    text-align: center;
    border: 1px solid #B9B9B9;
  }
  .questions{
      width:100%;
    color: #aaa;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    letter-spacing: 3px;
    /* line-height: 25px; */
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #aaa;
    -webkit-appearance: none;
    /* font-family: 'Poiret One', cursive; */
    background: transparent;
    border-radius: 25px;
    border : 2px solid #00ba9d;
    margin-bottom:5%;
}
.forgot-password{
    text-align:center;
}
.login1 {
  background-color: #00ba9d;
  color:white;
  padding:10px 50px;
  cursor:pointer;
  border-radius:25px;
  border:#00ba9d;
  width:43%;
  margin-left:"2"
}
.login1:hover {
  background-color:rgba(0, 0, 0, 0.1);
  color:#00ba9d;
  border:2px solid #00ba9d;  
}