/* *{
    overflow-x:hidden;
} */ */
.searchInput {
    margin-top:10%;
    width:70%;
    /* background-color:rgba(0,0,0,0.1); */
    border-color:#00ba9d;
    border-radius:10%;
    color: white !important;
}
.active {
    color:#00ba9d;
}
li{
    list-style-type:none;
}
.fa-user-circle-o {
    font-size:30px;
    color:#00ba9d;
    margin-top:50%;  
}

.link {
    font-size:120%;
}
.link:hover {
    text-decoration: underline;
}
.searchButton {
    border-radius:40%;
    background-color:#00ba9d;
    border:#00ba9d;
    cursor:pointer;
}

.vertical-menu {
    width: 300px;
    background-color: rgba(0,0,0,0.7);
    margin-left:-15%;
  }
  
  .vertical-menu a {
    background-color: rgba(0,0,0,0.1);
    color: #00ba9d;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #00ba9d;
    text-decoration: none;
    color:white
  }
  
  .vertical-menu a.active {
    background-color: #00ba9d;
    color: white;
  }
  .searchInput {
    margin-top:10%;
    width:70%;
    background-color:rgba(0,0,0,0.1);
    border-color:#00ba9d;
    border-radius:10%;
}
.fa-user-circle {
    font-size: 120%;
    padding:5px;
    color:white;
}
.homeData {
    background-color: rgba(0,0,0,0.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:110%;
    height:auto;
    padding:10px 20px;
    margin-left:-20%;
    margin-bottom: 10px;
}
.comment {
    color:white;
    width:60%;
    border: 2px solid #00ba9d;
    border-radius:5%;
    margin-left : 8%;
    background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 25px;
    padding: 10px;
}
.button {
    /* float:right; */
    background-color : #00ba9d;
    color:white;
    padding:10px 10px;
    border-radius:50%;
    border:2px solid #00ba9d;
    margin-left : 3%;
    cursor:pointer
}
.button:hover {
    background-color: rgba(0,0,0,0.1);
    color:white;
    border:2px solid #00ba9d;
}
