.desc {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:120%;
    color:white;
    text-align:justify
}
.headhow {
    color:#00ba9d;
    margin-top:2%;
    text-align:center
}