.pollBoard {
    margin-top:20%;
    margin-left:28%
}

#poll {
    font-size: 250%;
    line-height: 72px;
    font-weight: 500;
    margin: 32px 0 8px;
    padding: 0;
    color : white !important;
}

.pollBoard p {
    color : white
}

#tag {
    color : white;
    font-size: 1rem;
    margin-bottom : 0rem;
    padding : 1.5vw
}
.checkmark {
    color: #00ba9d;
    border-radius: 50%;
    font-family: Mateo;
    font-size: 20px;
    padding : 1vw;
}