

.textField {
    /* padding:2px 5px;
    width:350px;
    height:40px; */
    width: 100%;
    color: #aaa;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    letter-spacing: 3px;
    /* line-height: 25px; */
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #aaa;
    -webkit-appearance: none;
    /* font-family: 'Poiret One', cursive; */
    background: transparent;
    border-radius: 25px;
    border : 2px solid #00ba9d;
}
.field {
    font-size: 16px;
    color: #00ba9d;
    float: left;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
    letter-spacing: 2px;
    /* font-family: 'Poiret One', cursive; */
}
#forms {
    position: relative;
    max-width: 500px;
    margin: 0 5vw;
    padding: 3.5vw;
    border: none;
    box-sizing: border-box;
    display: flex;
    border-left: 4px solid #00ba9d;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color:rgba(0,0,0,0.3);
    margin-top : 6%;
    margin-left : 20%;
}

#qusForms{
    position: relative;
    max-width: 1000px;
    margin: 0 5vw;
    padding: 3.5vw;
    border: none;
    box-sizing: border-box;
    display: flex;
    border-left: 4px solid #00ba9d;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color:rgba(0,0,0,0.3);
    margin-top : 0%;
    margin-left : -20%;
}

#forms1 {
    position: relative;
    max-width: 1000px;
    margin: 0 5vw;
    border: none;
    box-sizing: border-box;
    display: flex;
    border-left: 4px solid #00ba9d;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color:rgba(0,0,0,0.3);
    margin-top : 0%;
    margin-left : -20%;
    margin-bottom : 8%;
}

#forgetforms{
    position: relative;
    max-width: 500px;
    margin: 0 5vw;
    border: none;
    box-sizing: border-box;
    display: flex;
    border-left: 4px solid #00ba9d;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color:rgba(0,0,0,0.3);
    margin-top : 0%;
    margin-left : -20%;
    margin-bottom : 8%;
}

/* div {
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    background: url("https://../images/b.jpg")no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;

} */
.login {
    background-color: #00ba9d;
    color:white;
    padding:10px 50px;
    cursor:pointer;
    border-radius:25px;
    border:#00ba9d;
    width:80%;
}
.login:hover {
    background-color:rgba(0, 0, 0, 0.1);
    color:#00ba9d;
    border:2px solid #00ba9d;  
}
.link {
    color:#00ba9d;
}
.link:hover{
    text-decoration:none;
    color:#00ba9d;
}