.modal-title {
    font-weight:500;
    color: #666;
    padding: 16px 32px;
    border-bottom: 1.5px solid #b92b27;
}
.modal-title:hover {
    text-decoration:none;
}
.questionLink {
    padding:10px;
    border:none;
    width:100%;
    border-bottom:1px solid rgb(212, 205, 205);
}