.profile{
    border-radius:100%;
    width:20%;
    margin-left:5vw;
    margin-top:-5vw
}
.details{
    color:white;
    width:10%;
    
}
.icons {
    font-size:2vw;
    padding:20px;
    margin-left:-5vw;
    color:#00ba9d;
}
.login:hover {
    text-decoration:none;
  
}