body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-image: url("./Assets/images/background.jpg");
  overflow-x: hidden;
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* overflow-y: scroll; */
  /* background-size: cover;
  min-height: 90vh;
  background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
